
config SOC_FAMILY_M03X
	bool
	select PLATFORM_SPECIFIC_INIT
	select BUILD_OUTPUT_HEX
	select M031_LIBRARY

if SOC_FAMILY_M03X

config SOC_FAMILY
	string
	default "nuvoton_m03x"

rsource "./*/Kconfig.soc"

endif # SOC_FAMILY_M03X
